[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

# Order is vital: Any specific page routes go above the catch-all
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200